.leaflet-container: {
  position: absolute;
  height: 600px;
  width: 400px;
}

.my-div-icon: {
  background-color: red;
  color: green;
}

.below-map {
  display: flex;
  justify-content: space-between;
}

.map-legend: {

}

.leaflet-editing-icon {
  width: 10px !important;
  height: 10px !important;
  margin-left: -5px !important;
  margin-top: -5px !important;
  border-radius: 50%;

}

.class-for-styles-poly {
  color: red;
}

.and-another {
  background-color: green;
}

.class-for-styles-marker {
  color: blue;
}
