.leaflet-container: {
  position: absolute;
  height: 600px;
  width: 400px;
}

.my-div-icon: {
  background-color: red;
  color: green;
}

.below-map {
  display: flex;
  justify-content: space-between;
}

.map-legend: {

}
